.footer {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping of items on smaller screens */
  justify-content: space-between; /* Space out footer items */
  align-items: center; /* Vertically center items */
  background-color: #eff1f7;
  color: #333;
  padding: 3% 10px;
  margin: 0 auto;
  height: auto; /* Adjust height based on content */
}

.footer__items {
  flex: 1; /* Allow items to grow and shrink as needed */
  margin: 10px; /* Space between items */
}

.footer__brand {
  text-align: center; /* Center the brand name */
}

.footer__header {
  margin-bottom: 10px; /* Space below header */
}

.footer__features ul {
  list-style: none;
  padding: 0; /* Remove default padding */
}

.footer__features ul li {
  margin-top: 5px; /* Space between list items */
}

.footer__socials {
  display: flex; /* Align icons horizontally */
  gap: 10px; /* Space between icons */
}

.footer__socials > * {
  color: #333; /* Color for social icons */
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    height: auto; /* Allow height to adjust based on content */
  }

  .footer__items {
    margin: 10px 0; /* Space between items */
    text-align: center; /* Center text for mobile view */
  }

  .footer__features ul {
    padding-left: 0; /* Remove left padding for mobile view */
  }
}
